@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-primary: #252525;
  --color-bg-secondary: #2E2E2E;
  --color-bg-tertiary: #AFEB6A;
  --color-text-primary: #fff;
  --color-text-secondary: #D500F9;
  --color-text-tertiary: #AFEB6A;
  --color-text-quaternary: #B5B5B5;
  --color-action-primary: #D500F9;
  --color-action-secondary: #AFEB6A;
  --color-border-primary: #fff;
  --color-border-secondary: #D500F9;
  --color-border-tertiary: #AFEB6A;
  --color-border-quaternary: #C1C1C1;
  --color-hover-primary: #9C27B0;
  --color-hover-secondary:#69C500;
  --color-focus-primary: #D137EC;
  --color-focus-secondary: #89D630;

}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
.triangle{
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
}
input {
  caret-color: white;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}
input[type="password"]::-webkit-calendar-picker-indicator {
  display: none;
}
/* Add a custom icon */
input[type="date"] {
  background-image: url('/date.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 20px);;
  background-size: 1em;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.loading{
  animation: pulse .8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .3;
  }
}